.sidebar {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 30px;
    margin-top: 70px;
}

.sidebar img {
    width: 50px;
    cursor: pointer;
}

.sidebar-list {
    display: flex;
    flex-direction: column;
    gap: 20px;
    align-items: center;
    height: 0;
    transition: 300ms;
    padding: 0;
}

.sidebar-list-active {
    height: 300px;
}

.sidebar-list-item {
    list-style: none;
    width: 26px;
    height: 26px;
    border-radius: 50%;
}